/*STYLE*/
html { font-family: "Trebuchet MS", sans-serif; background: #9fa8a3; padding: 2rem; }
body { max-width: 1280px; margin: 0 auto; background: #9fa8a3; box-shadow: 0 0 100px rgb(71,61,65);}
h1 { color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

#leftbox { float:left; background:Red; width:240px; height:720px; }
#game{ float:left; align:center;}
#rightbox{ float:right; width:240px; height:720px; }

.content { margin-left:auto; margin-right:auto; width:1280px; }
.controls img { max-width: 100%; height: auto; }

html,body {
    background: url(../images/html_background.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}