<!doctype html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/shop.js') }}"></script>
<title>{% block title %}{% endblock %} - Eduplay3</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/shop_style.css') }}">
<nav>
  <h1>Eduplay3</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
<div id="leftbox">
    <img class="mascot" src="{{ url_for('static',  filename='images/Mascot2.png') }}" alt="Mascot">
    <div id="hat_imgs">
        <img  id="blue_cap" class="mascot_overlay"
             src="{{ url_for('static',  filename='images/cap.png') }}" alt="blue cap"/>
        <img  id="crown" class="mascot_overlay"
             src="{{ url_for('static',  filename='images/crown_mascot.png') }}" alt="crown"/>
        <img  id="top_hat" class="mascot_overlay"
             src="{{ url_for('static',  filename='images/topHat.png') }}" alt="top hat"/>
        <img  id="headband" class="mascot_overlay" style="width:135px;height:100px;left:23%;top:36%;"
             src="{{ url_for('static',  filename='images/headband_mascot.png') }}" alt="headband"/>
        <img  id="flower" class="mascot_overlay" style="top:38%; left:15%;"
             src="{{ url_for('static',  filename='images/flower.png') }}" alt="flower"/>
        <img  id="butterfly" class="mascot_overlay"
             src="{{ url_for('static',  filename='images/butterfly.png') }}" alt="butterfly"/>
        <img  id="santa_hat" class="mascot_overlay" style="width:150px;left:15%; top:30%;"
             src="{{ url_for('static',  filename='images/santaHat.png') }}" alt="santa hat"/>
        <img  id="bunny_ears" class="mascot_overlay" style="top:31%"
             src="{{ url_for('static',  filename='images/bunnyEars.png') }}" alt="bunny ears"/>
    </div>
</div>

<div id="shop"
     style="width:1035px; height:720px; border: 1px solid black;float:left;">
    <div id="shop_headline">
        <table>
            <tr>
                <th><h1 style="font-size: 80px; margin:0; text-align: left; padding-left: 80px;">Shop</h1></th>
                <th><h2 id="currency_label" style="font-size: 50px; margin:0;"></h2></th>
            </tr>
        </table>
    </div>
<div style="margin:20px 50px 20px 50px;  height:555px; background:#5acaf2;border:8px solid #37354f" id="table">
  {% block content %}{% endblock %}
</div>
</div>
</section>