{% extends 'shop/base.html' %}
{% block header %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% endblock %}
{% block content %}
     {% for value in iii %}
      <p>{{ value }}</p>
    {% endfor %}
<body onload="load_item_data('hat')">
        <table  style="width:100%">
            <tr>
                <th class="category_th">
                   <form action="" class="category_button">
                        <input type="submit" class="category_button" value="Hats" id="category_button_selected" />
                    </form>
                </th>
                <th class="category_th">
                    <form action="/shop/shoes" class="category_button" >
                        <input type="submit" class="category_button" value="Shoes"/>
                    </form>
                </th>
                <th class="category_th">
                    <form action="/shop/gloves" class="category_button" >
                        <input type="submit" class="category_button" value="Gloves"/>
                    </form>
                </th>
                <th class="category_th">
                    <form action="/shop/accessories" class="category_button" >
                        <input type="submit" class="category_button" value="Accessories"/>
                    </form>
                </th>
            </tr>
            <tr>
                <td>
                    <img class="item_img" src="{{ url_for("static",  filename="images/cap.png") }}" alt="blue cap"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_11" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/crown.png") }}" alt="crown"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_12"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/topHat.png") }}" alt="tophat"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_13" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/headband.png") }}" alt="headband"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_14" value="cost"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <img class="item_img" src="{{ url_for("static",  filename="images/flower.png") }}" alt="flower"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_21" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/butterfly.png") }}" alt="buttefly"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_22" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/santaHat.png") }}" alt="santa hat"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_23" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/bunnyEars.png") }}" alt="bunny ears"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_24" value="cost"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
{% endblock %}