{% extends 'base.html' %}
{% block header %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<style>
   table{
        border-collapse: collapse;
        border-spacing:0px;
        table-layout: fixed ;
        border-style: hidden;
        width: 100% ;
    }

   .category_th{
        height: 100px;
        background-color: #586573;
   }

    td{
        width:25%;
        border: 8px solid #2b5a8c;
        height: 218px;
        align-content: center;
    }

    .item_img{
        width:150px;
        margin-left:30px;
    }

    .mascot_overlay{
        width:100px;
        position:absolute;
    }

    .purchase_button{
        width:100%;
        height:25%;
        background-color: #2b5a8c;
        padding:6px;
        font-size: 18px;
        border:none;
        text-decoration: none;
        margin-top:10px;
    }

        .purchase_button_grey{
        width:100%;
        height:25%;
        background-color: #586573;
        padding:6px;
        font-size: 18px;
        border:none;
        text-decoration: none;
        margin-top:105px;
    }

    .purchase_button:hover{
        background-color: #3fd14b;
    }

    p{
        text-align:center;
    }

    .category_button:focus{
        background-color:#2b5a8c;
    }

    .category_button:hover{
        background-color:#2b5a8c;
    }

     .category_button{
        background-color: #586573;
        width:100%;
        height: 100%;
        font-size: 18px;
        border:none;
     }

 #category_button_selected{
        background-color:#2b5a8c;
    }

</style>
{% endblock %}

{% block content %}
     {% for value in iii %}
      <p>{{ value }}</p>
    {% endfor %}
<body onload="load_item_data('hat')">
    <script src="{{ url_for('static', filename='js/shop.js') }}"></script>

<div id="leftbox" style="position:relative;">
    <img src="{{ url_for("static",  filename="images/Mascot2.png") }}"
         alt="Mascot" width="200px" style="margin-top:300px;margin-left:8%; position: absolute;" >
    <img hidden style="margin-left:80px; margin-top:250px;" id="blue_cap" class="mascot_overlay"
         src="{{ url_for("static",  filename="images/cap.png") }}" alt="blue cap"/>
    <img hidden style="margin-top:240px; margin-left:75px"id="crown" class="mascot_overlay"
         src="{{ url_for("static",  filename="images/crown_mascot.png") }}" alt="crown"/>
    <img hidden id="top_hat" class="mascot_overlay"
         src="{{ url_for("static",  filename="images/topHat.png") }}" alt="top hat"/>
    <img hidden id="headband" class="mascot_overlay"
         src="{{ url_for("static",  filename="images/headband_mascot.png") }}" alt="headband"/>
</div>
<div id="shop"
     style="width:1035px; height:720px; border: 1px solid black;float:left;">
    <div id="shop_headline">
        <table>
        <tr>
            <th>
            <h1 style="font-size: 80px; margin:0; text-align: left; padding-left: 80px;">Shop</h1>
        </th>
            <th>
            <h2 id="currency_label" style="font-size: 50px; margin:0;"></h2>
            </th>
        </tr>
            </table>
    </div>
    <div style="margin:20px 50px 20px 50px;  height:555px; background:#5acaf2;border:8px solid #37354f">
        <table  style="width:100%">
            <tr>
                <th class="category_th">
                   <form action="" class="category_button">
                        <input type="submit" class="category_button" value="Hats" id="category_button_selected" />
                    </form>
                </th>
                <th class="category_th">
                    <form action="/shop/shoes" class="category_button" >
                        <input type="submit" class="category_button" value="Shoes"/>
                    </form>
                </th>
                <th class="category_th">
                    <form action="/shop/gloves" class="category_button" >
                        <input type="submit" class="category_button" value="Gloves"/>
                    </form>
                </th>
                <th class="category_th">
                    <form action="/shop/accessories" class="category_button" >
                        <input type="submit" class="category_button" value="Accessories"/>
                    </form>
                </th>
            </tr>
            <tr>
                <td>
                    <img class="item_img" src="{{ url_for("static",  filename="images/cap.png") }}" alt="blue cap"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_11" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/crown.png") }}" alt="crown"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_12"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/topHat.png") }}" alt="tophat"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_13" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/headband.png") }}" alt="headband"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_14" value="cost"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <img class="item_img" src="{{ url_for("static",  filename="images/flower.png") }}" alt="flower"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_21" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/butterfly.png") }}" alt="buttefly"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_22" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/santaHat.png") }}" alt="santa hat"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_23" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/bunnyEars.png") }}" alt="bunny ears"/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="hat_24" value="cost"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
{% endblock %}