{% extends 'shop/base.html' %}
{% block table_content %}
     {% for value in iii %}
      <p>{{ value }}</p>
    {% endfor %}
<body onload="load_item_data('shirt')">
       <table style="width:100%">
            <tr>
                <th class="category_th">
                    <form action="/shop/hats" class="category_button" >
                        <input type="submit" class="category_button" value="Kopfbedeckungen"/>
                    </form>
                </th>
                <th class="category_th">
                    <form action="/shop/shoes" class="category_button" >
                        <input type="submit" class="category_button" value="Schuhe"/>
                    </form>
                </th>
                <th class="category_th">
                    <form action="" class="category_button">
                        <input type="submit" class="category_button" value="Shirts" id="category_button_selected" />
                    </form>
                </th>
                <th class="category_th">
                    <form action="/shop/accessories" class="category_button" >
                        <input type="submit" class="category_button" value="Accessories"/>
                    </form>
                </th>
            </tr>
            <tr>
                <td>
                    <img class="item_img" src="{{ url_for("static",  filename="images/flowerTop.png") }}" alt=""/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="shirt_11" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/greenShirt.png") }}" alt=""/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="shirt_12" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/redSweater_mascot.png") }}" alt=""/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="shirt_13" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/pinkJacket_mascot.png") }}" alt=""/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="shirt_14" value="cost"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <img class="item_img" src="{{ url_for("static",  filename="images/smileyTop.png") }}" alt=""/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="shirt_21" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/purpleShirt.png") }}" alt=""/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="shirt_22" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/blueHoodie_mascot.png") }}" alt=""/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="shirt_23" value="cost"/>
                    </form>
                </td>
                 <td>
                     <img class="item_img" src="{{ url_for("static",  filename="images/leatherJacket_mascot.png") }}" alt=""/>
                    <form id="my_form" method="post">
                         <input onclick="add_item(this)" class="purchase_button" type="button" id="shirt_24" value="cost"/>
                    </form>
                </td>
            </tr>
        </table>
</body>
{% endblock %}