<!--

General Website Template.

__authors__ = ["Luana Juhl", "Lukas Schult"]
__contact__ = "it16156@lehre.dhbw-stuttgart.de"
__credits__ = ["Luana Juhl", "Lukas Schult"]
__date__ = "2021/04/27"
__deprecated__ = False
__email__ = "it16156@lehre.dhbw-stuttgart.de"
__maintainer__ = "developer"
__status__ = "Released"
__version__ = "1.0"
-->

<!doctype html>
<html lang="de">
<head>
    <title>{% block title %}{% endblock %} - JuMath</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/star.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% from "auth/form_helper.html" import flash_messages %}
<nav>
    <h1><a href="/">JuMath</a></h1>
    {% block custom_nav %}{% endblock %}
    <ul>
        <!-- g is automatically available in templates. Based on if g.user is set (from load_logged_in_user)
        either the username and a log out link are displayed, or links to register and log in are displayed.-->
        {% if g.user %}
            <li><a href="{{ url_for('shop.shop') }}"><h1 style="padding:0px;margin:0px;">Shop</h1></a></li>
            <li><span style="padding-top:22px;">Eingeloggt als <b>{{ g.user }}</b></span>
            <li><b><a style="padding-top:22px;" href="{{ url_for('auth.logout') }}">Log Out</a></b>
                {% else %}
            <li><b><a style="padding-top:22px;" href="{{ url_for('auth.register') }}">Register</a></b>
            <li><b><a style="padding-top:22px;" href="{{ url_for('auth.login') }}">Log In</a></b>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {{ flash_messages() }}
    {% block content %}{% endblock %}
</section>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>