{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/math_game.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/phaser.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/plattformer/main_game.js') }}"></script>
{% endblock %}


{% block content %}
    <div id="leftbox"></div>
    <div id="game"></div>
    <div id="rightbox">

        <div id="jumps_box">
            Du hast <p id="jumps_label"></p> Sprünge
        </div>
        <div id="task_box">
            <p id="task_field"></p>
        </div>
        <button id="task_request">Neue Aufgabe</button>
        <button id="answer0" class="answer"></button>
        <button id="answer1" class="answer"></button>
        <button id="answer2" class="answer"></button>
        <button id="answer3" class="answer"></button>
        <div id="tries_box">
            Du kannst noch <p id="tries_label"></p> Mal falsch antworten bis ein Sprung abgezogen wird.
        </div>
        <script type="module" src="{{ url_for('static', filename='js/math_game.js') }}"></script>
    </div>
    <section class="controls">
        <img src="https://images.pexels.com/photos/5605060/pexels-photo-5605060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="alternatetext">
    </section>
{% endblock %}
