<!--

Mascot selection menu.

__authors__ = ["Luana Juhl", "Lukas Schult"]
__contact__ = "it16156@lehre.dhbw-stuttgart.de"
__credits__ = ["Luana Juhl", "Lukas Schult"]
__date__ = "2021/04/27"
__deprecated__ = False
__email__ = "it16156@lehre.dhbw-stuttgart.de"
__maintainer__ = "developer"
__status__ = "Released"
__version__ = "1.0"
-->

{% extends 'base.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/mascot_select.js') }}"></script>
    <style>
        html
        input:hover {
            padding: 0px;
            border: 5px solid #00d0d1;
        }

        input:active {
            padding: 0px;
            border: 5px solid #00d0d1;
        }
    </style>
{% endblock %}
{% block content %}
    <body onload="select_mascot()" style="height:95vh;">
    <div style="margin:30px 200px auto 100px; display:flex; justify-content: center;">
        <input type="image" id="mascot_panda" src="{{ url_for('static',  filename='images/Mascot1.png') }}" alt="Mascot"
               style="width:30%;float:left;" onclick="update_mascot(1)">
        <input type="image" id="mascot_dino" src="{{ url_for('static',  filename='images/Mascot2.png') }}" alt="Mascot"
               style="width:30%;float:left;margin-left:60px;" onclick="update_mascot(2)">
        <input type="image" id="mascot_alien" src="{{ url_for('static',  filename='images/Mascot3.png') }}" alt="Mascot"
               style="width:30%;float:left; margin-left:60px;" onclick="update_mascot(3)">
    </div>
    </body>
{% endblock %}