{% extends 'base.html' %}
{% block header %}
<style>
   table{
        border-collapse: collapse;
        border-spacing:0px;
        table-layout: fixed ;
        border-style: hidden;
        width: 100% ;
    }

   th{
        height: 100px;
        background-color: #586573;
   }

    td{
        width:25%;
        border: 8px solid #2b5a8c;
        height: 218px;
        align-content: center;
    }

    .purchase_button{
        width:100%;
        height:25%;
        background-color: #2b5a8c;
        padding:6px;
        font-size: 18px;
        border:none;
        text-decoration: none;
        margin-top:105px;
    }

    .purchase_button:hover{
        background-color: #3fd14b;
    }

    p{
        text-align:center;
    }

    .category_button:focus{
        background-color:#2b5a8c;
    }

    .category_button:hover{
        background-color:#2b5a8c;
    }

     .category_button{
        background-color: #586573;
        width:100%;
        height: 100%;
        font-size: 18px;
        border:none;
     }

</style>
{% endblock %}

{% block content %}
<div id="leftbox">
    <img src=""
         alt="Mascot" width="200px" style="margin-top: 300px;margin-left: 20px;">
</div>
<div id="shop"
     style="width:1035px; height:720px; border: 1px solid black;float:left;">
    <div id="shop_headline">
        <h1 style="font-size: 80px; margin:0; padding-left:80px;">Shop</h1>
    </div>
    <div style="margin:20px 50px 20px 50px;  height:555px; background:#5acaf2;border:8px solid #37354f">
        <table id="table_hat" style="width:100%">
            <tr>
                <th>
                    <button class="category_button" id="category_button_hats">Hats</button>
                </th>
                <th>
                    <button class="category_button" id="category_button_shoes">Shoes</button>
                </th>
                <th>
                    <button class="category_button" id="category_button_gloves">Gloves</button>
                </th>
                <th>
                    <button class="category_button" id="category_button_accessories">Accessories</button>
                </th>
            </tr>
            <tr>
                <td>
                    <p>Item</p>
                    <button class="purchase_button" onclick="change_text(this);" type="button" id="purchase_button_11">5G</button>
                </td>
                <td>
                    <p>Item</p>
                    <button class="purchase_button" onclick="change_text(this);" type="button" id="purchase_button_12">5G</button>
                </td>
                <td>
                    <p>Item</p>
                    <button class="purchase_button" onclick="change_text(this)" type="button" id="purchase_button_13">5G</button>
                </td>
                <td>
                    <p>Item</p>
                    <button class="purchase_button" onclick="change_text(this)" type="button" id="purchase_button_14">5G</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Item</p>
                    <button class="purchase_button" onclick="change_text(this)" type="button" id="purchase_button_21">5G</button>
                </td>
                <td>
                    <p>Item</p>
                    <button class="purchase_button" onclick="change_text(this)" type="button" id="purchase_button_22">5G</button>
                </td>
                <td>
                    <p>Item</p>
                    <button class="purchase_button" onclick="change_text(this)" type="button" id="purchase_button_23">5G</button>
                </td>
                <td>
                    <p>Item</p>
                    <button class="purchase_button" onclick="change_text(this)" type="button" id="purchase_button_24">5G</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<script type='text/javascript'>
var selected = null; //Current Item on confirm status
var click = 0;      //Amount of clicks on item. 0= no selection 1 = confirm 2= purchased
var purchased_items = []; //List of ids of purchased items

function change_text(item_id){
    click += 1;
    if (selected != item_id && selected != null){
        select_new_item(item_id, selected);
        selected = item_id;
    }else{
        if (click == 1){
            item_id.innerHTML = "Confirm?";
            item_id.style.backgroundColor ="#3fd14b";
            selected = item_id;
        }
        else{
            purchase_item(item_id)
            click = 0;
        }
    }
}

function select_new_item(item_id, selected){
    //if previously selected item is a purchased one it doesn't need to be reset to basic status but stay on purchased
    if (purchased_items.includes(selected.id) && !purchased_items.includes(item_id.id)){
        item_id.innerHTML = "Confirm?";
        item_id.style.backgroundColor ="#3fd14b";
    }
    //if a purchased item is clicked the previously selected one should be unselected
    else if(purchased_items.includes(item_id.id)){
        selected.innerHTML = "5G";
        selected.style.backgroundColor="#2b5a8c";
    }
    else if(purchased_items.includes(item_id.id) && purchased_items.includes(selected.id)){}
    //deselect previously selected item and select new item
    else{
        selected.innerHTML = "5G";
        selected.style.backgroundColor="#2b5a8c";
        item_id.innerHTML = "Confirm?";
        item_id.style.backgroundColor ="#3fd14b";
    }
}

function purchase_item(item_id){
        item_id.innerHTML = "Purchased!";
        item_id.style.backgroundColor ="#586573";
        purchased_items.push(item_id.id);
}
</script>
{% endblock %}