{% extends "auth/auth_forms_base.html" %}

{% block body %}
{% from "auth/form_helper.html" import flash_messages %}
{% from "auth/form_helper.html" import render_field %}

{{ flash_messages() }}
<h4>
    <strong>
        Login
    </strong>
</h4>
<hr>

<form method="POST">

    {{ render_field(form.username, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}

    <button type="submit" class="btn btn-primary">Login</button>
</form>

<hr>

<a href="{{ url_for('auth.register') }}">Create a New Account!</a>

{% endblock body %}